#homeSubmenu .sideBarLink.active {
  color: #7386D5;
  background: #fff;
  margin-left: 15px;
  text-shadow: none !important;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

  #sidebar #userAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }

    #sidebar #userAvatar img {
      filter: drop-shadow(5px 5px 5px black)
    }

    #sidebar #userAvatar span {
      font-size: 1.5em !important;
      text-shadow: 1px 1px 5px #000;
      text-align: center;
    }

    #sidebar #userAvatar img {
      margin: 10px;
    }

  #sidebar #avatar {
    width: 9vh;
    display: block;
    /*margin: 20px auto;*/
  }

  #sidebar.active {
    margin-left: -250px;
  }

  #sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    width: 100%;
    text-align: center;
  }

  #sidebar #logo {
    font-size: 1.3em !important;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
  }

  #sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.5em !important;
    display: block;
    text-shadow: 1px 1px 5px #000;
  }

    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
      margin-left: 15px;
      text-shadow: none;
    }

  #sidebar ul li.active > a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }

  #sidebar ul li a div h6 {
    font-size: 1.2em !important;
  }

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
